{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}{% endblock %}
    <!-- Bootstrap Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="//load.sumome.com/" data-sumo-site-id="be672be7f02741a304ddb49f65b3aa3d2f2e88e8bec9073016503febd9826b71" async></script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-33b8ecad-fe58-50b6-55e1-7c2d674701d", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body>

    <!-------------------------------------
                Top Header Section
     ------------------------------------->
    <div class="navbar navbar-default">
        <div id="header">
            <a href="www.heylets.com"><img src="{% static 'img/HeyLetsLogo.png' %}" alt="HeyLets Logo" width="200" height="auto"></a>
            <i class="icon-rss"></i>
{#            <a class="nav navbar-right"href="www.heylets.com"><button class="btn btn-primary try-button">Try HeyLets Now</button></a>#}
        </div>
    </div>

<div class="container blog-post">
    <div class="row row-content">
        <div class="col-sm-5 visible-md visible-lg pull-right side-bar-content">
            <a href="#"><img class="side-bar-image" src="{% static 'img/PoF_ad_Your_Drink_CTA_Text.png' %}" alt="What Your Drink Says About You"></a>
            <h1 class="side-bar-title">Recent Posts</h1>
            <ul class="side-bar-list">
                <li><a href="#">Stuff About Things And Other Stuff</a></li>
                <li><a href="#">Stuff About Things And Other Stuff</a></li>
                <li><a href="#">Stuff About Things And Other Stuff</a></li>
                <li><a href="#">Stuff About Things And Other Stuff</a></li>
                <li><a href="#">Stuff About Things And Other Stuff</a></li>
                <li><a href="#">Stuff About Things And Other Stuff</a></li>
                <li><a href="#">Stuff About Things And Other Stuff</a></li>
            </ul>
        </div>
    <div class="wrapper">

    {% block content %}{% endblock %}

    </div>
    </div>
</div>

<script type="text/javascript" src="//s3.amazonaws.com/scripts.hellobar.com/26742e6e9b47ec1f1ec29eddce34ad4efb5f6d98.js"></script>
</body>
</html>