{% extends 'base.html' %}



    <!--*/*/*/*/*/*/*/
    Blog Content
    */*/*/*/*/*/*/-->

    {% block content %}

{#    {% for post in posts %}    #}

    <div class="container blog-post">
        <div class="row row-date">
            <div class="col-xs-12 col-date">
                <p class="blog-date">11th September 2014</p>
            </div>
        </div>
        <div class="row row-title">
            <div class="col-xs-12 col-title">
            <h1 class="blog-title">Title Of The Blog</h1>
{#                <hr class="blog-title-hr">#}
            </div>
        </div>
        <div class="row row-content">
            <div class="col-xs-12">
                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique, velit sed porttitor malesuada, velit nisi convallis purus, eu porta mi purus euismod nibh. In sit amet felis aliquet, pretium felis eu, fermentum nulla. Pellentesque elementum ante quam, sit amet hendrerit mi luctus in. Maecenas a aliquet magna, eu porta lacus. Proin elementum dolor vel porta condimentum. In ut ex ullamcorper, elementum felis at, facilisis metus. Nulla laoreet enim at elit imperdiet interdum. Fusce nec velit ornare velit pellentesque consectetur at eu erat. Quisque magna lorem, consectetur vel enim id, congue ultricies turpis. Nam ac nisi vitae ex volutpat imperdiet in eget turpis. Suspendisse potenti. Donec nec felis commodo, lacinia neque vel, fringilla magna. Nam a libero felis.

Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi non urna vel purus fringilla semper. Donec luctus neque metus, sit amet posuere diam egestas et. Donec at blandit ex, at mollis leo. Nunc sit amet porttitor arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut at vehicula orci. Curabitur vitae mi ligula. Ut a venenatis elit. In ornare est eu turpis faucibus porttitor.

Curabitur metus nibh, dictum sit amet felis ac, semper dictum lectus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras vitae arcu tortor. Mauris lectus tortor, sodales ac turpis eget, egestas condimentum orci. Phasellus vestibulum quam a bibendum vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent fringilla dui sit amet quam convallis, et tempor quam congue. In et massa id lectus vulputate vestibulum in in nibh. Morbi mattis, nulla posuere placerat convallis, felis velit imperdiet turpis, a ultricies urna sapien ut ligula. Donec vel tortor eros. Morbi mauris dolor, iaculis eget tincidunt et, lacinia et eros.

Curabitur sit amet porta leo. Mauris iaculis, massa et vestibulum sodales, arcu tortor viverra nisl, vel tempor augue leo a nunc. Nullam varius ornare mauris ut lobortis. Morbi sit amet nulla ut urna commodo sodales id tincidunt massa. Aliquam et diam nec dolor dignissim tempor. Vivamus placerat, nibh at eleifend suscipit, purus libero porttitor turpis, vel sodales dui erat sit amet risus. Maecenas vitae pharetra est, vel efficitur diam. Aenean congue lobortis tempor. Nulla felis nisi, interdum consequat arcu ac, dapibus tincidunt eros. Etiam in feugiat libero. Donec quam tortor, suscipit et purus eget, mollis tincidunt risus.

Curabitur tincidunt eros nec arcu tempor, at malesuada purus semper. In a turpis nunc. Aliquam in risus nisl. Fusce et purus in ante pretium sollicitudin sed vel metus. Integer purus nisl, pulvinar sit amet est sed, molestie laoreet leo. Fusce consectetur odio ex, quis dictum odio feugiat a. Donec commodo sodales accumsan. Nullam eu vestibulum augue, eu ullamcorper ex. Nunc lacus arcu, congue eu justo et, lobortis suscipit quam. Praesent laoreet sapien id vulputate dapibus. Nam et posuere metus. Donec laoreet justo non ipsum scelerisque fringilla. Vestibulum mattis finibus enim, sollicitudin semper nunc.</p>
            </div>
        </div>
    </div>

{#    {% endfor %}#}

    {% endblock %}