{% extends 'base.html' %}



    <!--*/*/*/*/*/*/*/
    Blog Content
    */*/*/*/*/*/*/-->

    {% block content %}

    <!-- Start blog for loop -->
    {% for i in blogs %}

    <div class="col-xs-12 col-md-7 col-date">
        <p class="blog-date">11th September 2014</p>
    </div>
    <div class="col-xs-12 col-md-7 col-title">
        <h1 class="blog-title">{{ i.title }}</h1>
    </div>
    <div class="col-xs-12 col-md-7">
        <p class="blog-content">{{ i.post }}</p>

    <div class="col-xs-12 social-share">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
    </div>
    </div>

    {% endfor %}
    <!-- End Blog For Loop -->

    {% endblock %}